@import './font.css';

:root {
  --font-sans:
    'DM Sans', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-mono: 'DM Mono', 'Fira Code', Menlo, Monaco, Consolas, monospace;
  font-family: var(--font-sans);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  user-select: text;

  /* Color variables for UnoCSS */
  --color-bg: #1f2227;
  --color-fg: #ffffff;
  --color-mut: #737373;
  --color-primary: #3b82f6;
  --color-primary-hvbg: #3b82f633;
  --color-primary-hover: #2563eb;
  --color-primary-fg: #ffffff;
  --color-secondary: #6366f1;
  --color-secondary-hover: #4f46e5;
  --color-secondary-fg: #ffffff;
  --color-destructive: #ef4444;
  --color-destructive-hover: #dc2626;
  --color-destructive-hover-hvbg: #dc262633;
  --color-destructive-fg: #ffffff;

  --color-border: #292934;
  --color-muted-foreground: #a1a1aa;
  --color-muted-fg2: #777;

  color: var(--color-fg);
  background-color: var(--color-bg);
  overflow: hidden;

  --popover-z-index: 50;
}

html.light {
  --color-bg: #fff;
  --color-fg: #000;
  --color-mut: #c0c0c0;
  --color-border: #e0e0e0;
  --color-muted-foreground: #555;
}

code,
pre {
  font-family: var(--font-mono);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

input,
textarea {
  font-family: inherit;
}

scrollbar {
  width: 8px;
  height: 8px;
}

scrollbar-track {
  background: transparent;
}

scrollbar-thumb {
  background: #27272a;
  border-radius: 4px;
}

scrollbar-thumb:hover {
  background: #3f3f46;
}
