.Root {
  color: var(--color-fg);
  box-sizing: border-box;
  height: 100%;
}

.Viewport {
  height: 100%;
  overscroll-behavior: contain;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.Content {
  display: flex;
  flex-direction: column;
}

.Scrollbar {
  display: flex;
  position: relative;
  background-color: var(--color-border);
  border-radius: 0.375rem;
  margin: 0.5rem;
  opacity: 0;
  transition: opacity 150ms;
  pointer-events: none;

  &::before {
    content: '';
    position: absolute;
  }

  &[data-scrolling] {
    transition-duration: 0ms;
  }

  &[data-hover],
  &[data-scrolling] {
    opacity: 1;
    pointer-events: auto;
  }

  &[data-orientation='vertical'] {
    width: 0.25rem;

    &::before {
      width: 1.25rem;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    &:not([data-overflow-y]) {
      display: none;
    }
  }

  &[data-orientation='horizontal'] {
    height: 0.25rem;

    &::before {
      width: 100%;
      height: 1.25rem;
      left: 0;
      right: 0;
      bottom: -0.5rem;
    }

    &:not([data-overflow-x]) {
      display: none;
    }
  }
}

.Thumb {
  width: 100%;
  border-radius: inherit;
  background-color: var(--color-mut);

  [data-orientation='horizontal'] & {
    /*width: unset;*/
    height: 100%;
  }
}

.Corner {
  background-color: transparent;
}
