.Link {
  display: flex;
  justify-content: center;
  color: var(--color-fg);
  border-radius: 3px;
  padding: 4px;
  user-select: none;

  &:hover {
    color: var(--color-primary);
  }

  &[aria-current='page'] {
    color: var(--color-primary);
    background-color: var(--color-primary-hvbg);
  }

  & div {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.Titlebar {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-border);
}

.Nav {
  --at-apply: space-y-1 p-2 flex flex-col;
  border-right: 1px solid var(--color-border);
}
