.Root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: inherit;
  line-height: 1.25rem;
  border-radius: 0.375rem;
  user-select: none;

  & svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  background: transparent;
  /* border: 1px solid var(--color-border); */
  color: var(--color-fg);

  &:hover:not(:disabled, [data-disabled]) {
    background: var(--color-primary-hvbg);
  }

  &[data-state='on'] {
    background: var(--color-primary-hvbg) !important;
    border-color: var(--color-primary);
    color: var(--color-primary);
  }

  &:focus-visible {
    outline: 2px solid var(--color-primary-hvbg);
    outline-offset: 2px;
  }

  &:is(:disabled, [data-disabled]) {
    opacity: 0.5;
    filter: grayscale(100%);
  }
}

.Indicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
