.ql-toolbar.ql-snow {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--color-border);
    min-height: 3rem;
}

.ql-container.ql-snow {
    border: none;
}

.ql-snow .ql-tooltip input[type=text] {
    border: 1px solid var(--color-border);
    background-color: var(--color-bg);
    color: var(--color-fg);
}

.ql-snow .ql-stroke,
.ql-snow .ql-fill {
    stroke: var(--color-fg);
}

.ql-snow .ql-picker {
    color: var(--color-fg);
}

.ql-snow .ql-picker-options {
    background-color: var(--color-bg);
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options,
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
    border-color: var(--color-border);
}

.ql-editor.ql-blank::before {
    color: var(--color-muted-foreground)
}