.Trigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: inherit;
  line-height: 1.25rem;
  border-radius: 0.375rem;

  user-select: none;
  white-space: nowrap;
  transition:
    background 150ms,
    border-color 150ms,
    color 150ms;

  background: transparent;
  border: none;
  /*1px solid var(--color-border);*/
  color: var(--color-fg);

  &:is(:hover, [data-state='open']):not(:disabled, [data-disabled]) {
    background: var(--color-primary-hvbg);
  }

  &:focus-visible {
    outline: 2px solid var(--color-mut);
    outline-offset: -1px;
  }

  &:is(:disabled, [data-disabled]) {
    opacity: 0.5;
    filter: grayscale(100%);
  }
}

.Indicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  & svg {
    width: 1rem;
    height: 1rem;
  }
}

.ContextTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 12rem;
  font-size: 0.875rem;
  border: 1px dashed var(--color-border);
  border-radius: 0.375rem;
  user-select: none;
}

.Content {
  --arrow-size: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  min-width: max(var(--reference-width), 10rem);
  max-height: min(var(--available-height, 600px), 600px);
  background: var(--color-bg);
  border: 1px solid var(--color-border);
  border-radius: 0.375rem;
  box-shadow: 0 0 3px var(--color-mut);
  z-index: calc(var(--popover-z-index) + var(--layer-index, 0));
  outline: none;
  transform-origin: var(--transform-origin);

  &[data-state='open'] {
    animation: scale-fade-in 0.15s ease-out;
  }

  &[data-state='closed'] {
    animation: scale-fade-out 0.1s ease-in;
    display: none;
  }
}

.Arrow {
  --arrow-background: var(--color-bg);
  --arrow-shadow-color: var(--color-mut);
  z-index: -1;
}

.ArrowTip {
  border-top: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
}

.ItemGroup {
  display: flex;
  flex-direction: column;

  & + & {
    margin-top: 0.5rem;
  }
}

.ItemGroupLabel {
  padding: 0.375rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-fg);
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.Item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-height: 2rem;
  padding-inline: 0.725rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;

  user-select: none;
  outline: none;
  color: var(--color-fg);
  text-decoration: none;

  &[data-highlighted] {
    background: var(--color-primary-hvbg);
  }

  &[data-disabled] {
    color: var(--color-fg);

    opacity: 0.5;
  }
}

.TriggerItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;

  user-select: none;
  outline: none;

  &[data-highlighted] {
    background: var(--color-primary-hvbg);
  }

  &::after {
    content: '›';
    font-size: 1rem;
    color: var(--color-fg);
  }
}

.CheckboxItem,
.RadioItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;

  user-select: none;
  outline: none;

  &[data-highlighted] {
    background: var(--color-primary-hvbg);
  }

  &[data-state='checked'] {
    color: var(--color-primary);
  }

  &[data-disabled] {
    color: var(--color-fg);

    opacity: 0.5;
  }
}

.ItemText {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ItemIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-fg);
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;

  & svg {
    width: 0.875rem;
    height: 0.875rem;
  }
}

.Separator {
  height: 1px;
  margin-block: 0.25rem;
  border: 0;
  background: var(--color-border);
  width: 100%;
}

@keyframes scale-fade-in {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scale-fade-out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.96);
  }
}
